* {
    box-sizing: border-box;
  }
  body{
    font-family: "'Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
  }

.estado-jogo{
    width: 934px;
    height: 466.67px;
    display: flex;
    flex-direction: row;   
}
.imagem img{
    height: 466.67px;
}

.iniciar-jogo{
    width: 467px;
    height: 466.67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 10px 0px 10px 0px;
}
.botao-iniciar{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    height: 60px;
    color: #ffffff;
    background-color:green;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.todas-letras{
    margin-top: 50px;
    width: 664px;
    height: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   
}
.escolher-letras{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 5px 0px 5px 

}
.palavra-sorteada{
    font-weight: 700;
    font-size: 50px;
    color: #000000;
}

.verde{
    color: green;
}
.vermelho{
    color: red;
}

.chutar{
    width: 664px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    margin-left: 100px;
}

.letras-chute{
    margin-top: 50px;
    width: 664px;
    margin-left: 100px;
}

.botao-chutar{
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #7AA7C7;
    cursor: pointer;
    margin-left: 5px;
}

input{
    width: 353px;
    height: 40px;
    margin-right: 5px;
}

input::placeholder {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #7AA7C7;
  }