* {
    box-sizing: border-box;
  }
  body{
    font-family: "'Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #e19923;
  }
  
.estado-jogo{
    width: 934px;
    height: 466.67px;
    display: flex;
    flex-direction: row;   
}

.imagem img{
    height: 900px;
    position: relative;    
}

.iniciar-jogo{
    width: 467px;
    height: 466.67px;
    display: flex;   
}

.botao-iniciar{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 200px;
    height: 60px;
    color: #ffffff;
    background-color:#4592ac;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    border: 1px solid #351d00;
    position: absolute;
    top: 30px;
    right: 670px;
}

.todas-letras{
    width: 664px;
    height: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.escolher-letras{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 5px 0px 5px;
    border: 3px solid #351d00;
}

.palavra-sorteada{
    font-weight: 1000;
    font-size: 50px;
    color: #20150b;
    position: absolute;
    top: 400px;
    right: 600px;
}

.verde{
    color: green;
}
.vermelho{
    color: red;
}

.chutar{
    width: 664px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    position: absolute;
    bottom: 130px;
    left: 470px;
}

.letras-chute{
    margin-top: 50px;
    width: 664px;
    margin-left: 100px;
    position: absolute;
    bottom: 155px;
    left: 470px;
}

.botao-chutar{
    font-family: 'Roboto', sans-serif;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: 3px solid #351d00;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 5px;
}

input{
    width: 353px;
    height: 40px;
    margin-right: 5px;
    margin-top: 100px;
    border-radius: 3px;
    border: 3px solid #351d00;
    
}

input::placeholder {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #351d00;
  }